@model TargDeMuzica.Models.Cart;

<h2>@ViewBag.TotalPrice</h2>

<br />

<p>@Model.TotalPrice</p>



<br />

<a class="btn alert-success" asp-action="Index" asp-controller="Carts">Afisare lista preturi totale</a>


<br />
<hr />
<br />

